<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="POST">
        <div>
            <label for="username"> Username</label>
            <input id="username" type="text" name="username" placeholder="username">
        </div>
        <div>
            <label for="firstName">First Name</label>
            <input id="firstName" type="text" name="firstName" placeholder="firstName">
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input id="lastName" type="text" name="lastName" placeholder="lastName">
        </div>
        <div>
            <label for="emailID">Email ID</label>
            <input id="emailID" type="email" name="emailID" placeholder="your email ID.."> 
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="password">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>